In [2]:
from cubiclematch_jax.main.config import data_path
import pandas as pd

In [6]:
df = pd.read_csv(data_path / "main_data.csv")

In [7]:
df.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q7_4_1,Q7_5_1,Q7_6_1,Q7_7_1,Q7_8_1,name,budget,utility_matrix,utility_cubicles,ranked_bundles
0,2024-01-08 15:43:08,2024-01-08 15:48:28,0,72.83.117.164,100,320,1,2024-01-08 15:48:28,R_3IvjUFSBXwZwl8J,NaN,...,80.0,80.0,80.0,80.0,80.0,Mingao,100.191519,[[ 0. 0. 0. 0. 0. 0. 0. 0. 0....,[10. 80. 80. 80. 80. 80. 80. 80.],[[False False True ... True False False]\n [...
1,2024-01-08 15:54:11,2024-01-08 15:59:34,0,69.251.24.52,100,322,1,2024-01-08 15:59:35,R_1JgypxsvB0cwZY6,NaN,...,0.0,0.0,0.0,0.0,0.0,Sylvia,100.622109,[[10. 0. 0. 0. 0. 0. 0. 0. 0. 0.]\n [...,[0. 0. 0. 0. 0. 0. 0. 0.],[[False False False ... True True True]\n [...
2,2024-01-08 16:02:28,2024-01-08 16:07:45,0,38.42.6.184,100,316,1,2024-01-08 16:07:45,R_3Qy8podNkKEwV3A,NaN,...,50.0,0.0,0.0,0.0,0.0,Yagmur,102.437728,[[ 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]\n [...,[ 0. 50. 0. 50. 0. 0. 0. 0.],[[False False True ... False True True]\n [...
3,2024-01-08 15:52:17,2024-01-08 16:27:19,0,173.79.92.142,100,2101,1,2024-01-08 16:27:19,R_5IX2bJzSGk0TnaH,NaN,...,0.0,100.0,0.0,0.0,0.0,Anwita,102.785359,[[ 0. 0. 0. 0. 0. 0. 0. 0. 0....,[ 0. 0. 0. 0. 100. 0. 0. 0.],[[False False True ... True False False]\n [...
4,2024-01-08 16:23:34,2024-01-08 16:27:49,0,173.73.136.176,100,255,1,2024-01-08 16:27:49,R_1uCjShjIXnCvC9l,NaN,...,0.0,0.0,0.0,0.0,0.0,Cam,101.779976,[[ 75. 0. 0. 0. 0. 0. 0. 0. 0....,[0. 0. 0. 0. 0. 0. 0. 0.],[[ True True True ... False False False]\n [...